<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Nan Tian
              </h1>
              <p>I'm an enthusiastic roboticist and embodied AI researcher based in San Francisco. 
                I develop scalable dynamic visual manipulation techniques to enable intuitive physical human-robot interaction (pHRI).
                I focus on agility, interpretability, reliability, and data efficient imitation learning.  
                Some of my works are inspired by neuroscience and psychology.
                <!-- My goal is to make emerging robotics AI technologies accessible to a broader audience through Cloud
                Robotics, robotics learning, and physical human-robot interactions (pHRI).
                I aim to enable our society to utilize, understand, and interact with robots in an efficient, effective,
                and safe manner. -->
              </p>
              <p>
              I have been a lead research scientist and a principle investigator for various industrial
                research institutes since 2016, working for <a href="https://www.bosch.us/our-company/innovation/">Bosch</a>, <a
                  href="https://tinyurl.com/2ap2vht3">Siemens</a>, <a
                  href="https://www.nikon.com/company/technology/">Nikon</a>, and <a
                  href="https://www.cloudminds.com/en">CloudMinds</a>.
                I closely collaborate with robotics AI researchers at universities, from <a
                  href="https://bair.berkeley.edu/index.html#header">BAIR at UC Berkeley</a>, <a
                  href="https://sites.usc.edu/cam/">CAM at USC</a>, and <a 
                  href="https://www.ri.cmu.edu">RI at CMU</a>. 
                I have also worked with many industrial partners in the past via <a href="https://arminstitute.org">ARM
                  Institute</a>.
                <!-- I have lead teams of researchers and engineers for successful proposing and execution of various high impact publicly and privately funded research projects, 
                in advanced manufacturing, warehouse logistics, home and service robots. -->
              </p>

              <p>
                I did my PhD at <a href="http://www.eecs.berkeley.edu/">UC Berkeley</a> in Computer Science, where I was
                advised by <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/sojoudi.html"> Prof. Somayah
                  Sojoudi</a> in collaboration with <a
                  href="https://www2.eecs.berkeley.edu/Faculty/Homepages/goldberg.html"> Prof. Ken Goldberg</a> on <a
                  href="https://www2.eecs.berkeley.edu/Pubs/TechRpts/2020/EECS-2020-142.html"> Cloud-Edge Hybrid
                  Robotics for Physical Human Robot Interaction</a>.
              </p>

              <p>
                Before robotics, I was a seasoned researcher in brain machine interface (BMI) and biomedical imaging at
                <a href="">UCSF</a>. I worked with <a href="https://sabes.ucsf.edu">Prof. Philip Sabes</a> and <a
                  href="https://bankiewiczlab.ucsf.edu/people/krystof-bankiewicz-md-phd">Dr. Krystof Bankiewicz</a> in
                <a href="https://weill.ucsf.edu">Neuroscience</a> on <a href="https://tinyurl.com/2p8rk7t4">MRI-guided
                  injection of optogenetics to monkeys</a>. I also worked with <a
                  href="https://brain.ucsf.edu/anthony-james-barkovich-md">Dr. James Barkovich</a> and <a
                  href="https://radiology.ucsf.edu/people/duan-xu">Prof. Duan Xu</a> in <a
                  href="https://radiology.ucsf.edu">Radiology</a> on <a
                  href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0031029">clinical MRI scans of
                  newborn brain</a>.
                <!-- </p>
                <p>I studied at <a
                href="https://case.edu/nec/"> CWRU</a> with a BS/MS, advised by <a 
                href="https://case.edu/bme/people/primary-faculty/dominique-m-durand"> Prof. Dominique Durand</a> on <a 
                href="https://tinyurl.com/2zp69jne">electrical stimulations to treat epilespy</a> and collaborated with <a
                href="https://physiology.case.edu/people/visitor/kingman-strohl/"> Dr. Kingman Strohl </a> on <a
                href="https://tinyurl.com/3msdnu4m">epilespy and sleep</a>. 
            </p> -->
              <p style="text-align:center">
                <a href="mailto:neubotech@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="pdfs/CV_NanTian.pdf">CV</a> &nbsp;/&nbsp;
                <!-- <a href="data/NanTian_Bio.txt">Bio</a> &nbsp;/&nbsp; -->
                <a href="https://scholar.google.com/citations?hl=en&user=QhfCZK3tCeYC">Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/neubotech">LinkedIn</a> &nbsp;/&nbsp;
                <a href="https://twitter.com/neubotech">Twitter</a> &nbsp;/&nbsp;
                <a href="https://github.com/neubotech/">Github</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/NanTian-oval.png">
            </td>
          </tr>
        </table>


        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests</h2>
              <p>
                Agile robotics control for dynamic pHRI, Interactive 2D/3D robotics vision, VR/AR Teleoperation, Cloud Robotics (AI with reliability), data efficient imitation learning, and more recently, interpretable end2end robotics learning (coming soon).  
              </p>
              <p>
                I find <span class="highlight"> highlighted projects</span> fun and insightful.  Therefore, I spent a lot of time on them.  I hope you like them too.
              </p>
                <!-- I'm interested in computer vision, machine learning, optimization, graphics and robotics. -->
              </p>
            </td>
          </tr>
        </table>
<!-- ============================================================================================= -->
 <!-- Dynamic Visual Manipulation -->
<!-- ============================================================================================= -->
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Dynamic Visual Manipulation</h2>
              <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'DM' %}
          {% if post.animate %}
          {% assign animate_filename = post.animate | split: '/' | last %}
          {% assign basename = animate_filename | split: '.' | first %}
          {% if post.highlight %}
          <tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()"  bgcolor="#ffffd0">
          {% else %}
          <tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()">
          {% endif %}
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="two" id='{{basename}}_image'><video width=100% height=100% muted autoplay loop>
                    <source src="{{post.animate}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video></div>
                <img src="{{post.image}}" width="280">
              </div>
              <script type="text/javascript">
                window['{{basename}}_start'] = function () {
                  document.getElementById('{{basename}}_image').style.opacity = "1";
                }

                window['{{basename}}_stop'] = function () {
                  document.getElementById('{{basename}}_image').style.opacity = "0";
                }
                window['{{basename}}_stop']();
              </script>
              <!-- <h3>{{basename}}_stop</h3> -->
            </td>
            {% else %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            {% endif %}
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <!-- <h3>{{basename}}</h3> -->
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
    {% if post.media %}
    <a href="{{post.media}}">media coverage</a> /
    {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
<!-- ============================================================================================= -->
 <!-- Graspings & Pick-n-Place -->
<!-- ============================================================================================= -->
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tr>
  <td style="padding:2.5%;width:100%;vertical-align:middle">
    <h2>Graspings & Pick-n-Place</h2>
    <p>
      I'm interested in computer vision, machine learning, optimization, graphics and robotics.
    </p>
  </td>
</tr>
</table>
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'GP' %}
{% if post.animate %}
{% assign animate_filename = post.animate | split: '/' | last %}
{% assign basename = animate_filename | split: '.' | first %}
{% if post.highlight %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()"  bgcolor="#ffffd0">
{% else %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()">
{% endif %}
  <td style="padding:20px;width:25%;vertical-align:middle">
    <div class="one">
      <div class="two" id='{{basename}}_image'><video width=100% height=100% muted autoplay loop>
          <source src="{{post.animate}}" type="video/mp4">
          Your browser does not support the video tag.
        </video></div>
      <img src="{{post.image}}" width="280">
    </div>
    <script type="text/javascript">
      window['{{basename}}_start'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "1";
      }

      window['{{basename}}_stop'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "0";
      }
      window['{{basename}}_stop']();
    </script>
    <!-- <h3>{{basename}}_stop</h3> -->
  </td>
  {% else %}
<tr>
  <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
    <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
  </td>
  {% endif %}
  <td style="padding:2.5%;width:75%;vertical-align:middle">
    <!-- <h3>{{basename}}</h3> -->
    <h3>{{post.title}}</h3>
    <br>
    {{post.authors}}

    <br>
    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
    <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    {% if post.website %}
    <a href="{{post.website}}">website</a> /
    {% endif %}
    {% if post.youtube %}
    <a href="{{post.youtube}}">youtube</a> /
    {% endif %}
    {% if post.media %}
    <a href="{{post.media}}">media coverage</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
  </td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
<br>
<br>
<br>

<!-- ============================================================================================= -->
 <!-- Cloud Robotics -->
<!-- ============================================================================================= -->
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tr>
  <td style="padding:2.5%;width:100%;vertical-align:middle">
    <h2>Cloud Robotics</h2>
    <p>
      Cloud-Edge hybrid, distributed intelligence, mitigate variable delays, compact represenation, reliability and safety
    </p>
  </td>
</tr>
</table>
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'CR' %}
{% if post.animate %}
{% assign animate_filename = post.animate | split: '/' | last %}
{% assign basename = animate_filename | split: '.' | first %}
{% if post.highlight %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()"  bgcolor="#ffffd0">
{% else %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()">
{% endif %}
  <td style="padding:20px;width:25%;vertical-align:middle">
    <div class="one">
      <div class="two" id='{{basename}}_image'><video width=100% height=100% muted autoplay loop>
          <source src="{{post.animate}}" type="video/mp4">
          Your browser does not support the video tag.
        </video></div>
      <img src="{{post.image}}" width="280">
    </div>
    <script type="text/javascript">
      window['{{basename}}_start'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "1";
      }

      window['{{basename}}_stop'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "0";
      }
      window['{{basename}}_stop']();
    </script>
    <!-- <h3>{{basename}}_stop</h3> -->
  </td>
  {% else %}
<tr>
  <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
    <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
  </td>
  {% endif %}
  <td style="padding:2.5%;width:75%;vertical-align:middle">
    <!-- <h3>{{basename}}</h3> -->
    <h3>{{post.title}}</h3>
    <br>
    {{post.authors}}

    <br>
    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
    <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    {% if post.website %}
    <a href="{{post.website}}">website</a> /
    {% endif %}
    {% if post.youtube %}
    <a href="{{post.youtube}}">youtube</a> /
    {% endif %}
    {% if post.media %}
    <a href="{{post.media}}">media coverage</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
  </td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
<br>
<br>
<br>
<!-- ============================================================================================= -->
 <!-- Other Computer Science Projects -->
<!-- ============================================================================================= -->
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tr>
  <td style="padding:2.5%;width:100%;vertical-align:middle">
    <h2>Other CS Projects</h2>
    <p>
      focus: AR/VR, Parallel Computing, Interactive Vision
    </p>
  </td>
</tr>
</table>
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'OP' %}
{% if post.animate %}
{% assign animate_filename = post.animate | split: '/' | last %}
{% assign basename = animate_filename | split: '.' | first %}
{% if post.highlight %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()"  bgcolor="#ffffd0">
{% else %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()">
{% endif %}
  <td style="padding:20px;width:25%;vertical-align:middle">
    <div class="one">
      <div class="two" id='{{basename}}_image'><video width=100% height=100% muted autoplay loop>
          <source src="{{post.animate}}" type="video/mp4">
          Your browser does not support the video tag.
        </video></div>
      <img src="{{post.image}}" width="280">
    </div>
    <script type="text/javascript">
      window['{{basename}}_start'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "1";
      }

      window['{{basename}}_stop'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "0";
      }
      window['{{basename}}_stop']();
    </script>
    <!-- <h3>{{basename}}_stop</h3> -->
  </td>
  {% else %}
<tr>
  <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
    <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
  </td>
  {% endif %}
  <td style="padding:2.5%;width:75%;vertical-align:middle">
    <!-- <h3>{{basename}}</h3> -->
    <h3>{{post.title}}</h3>
    <br>
    {{post.authors}}

    <br>
    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
    <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    {% if post.website %}
    <a href="{{post.website}}">website</a> /
    {% endif %}
    {% if post.youtube %}
    <a href="{{post.youtube}}">youtube</a> /
    {% endif %}
    {% if post.media %}
    <a href="{{post.media}}">media coverage</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
  </td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
<br>
<br>
<br>
<!-- ============================================================================================= -->
 <!-- Brain Machine Interface & Brain Imaging -->
<!-- ============================================================================================= -->
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
<tr>
  <td style="padding:2.5%;width:100%;vertical-align:middle">
    <h2>Brain Machine Interface & Medical Imaging</h2>
    <p>
      Brain Machine Interface: Electrical Stimulation, Sleep & Epilepsy, Optogenetics, Visuomotor Behavior
    </p>
    <p>
      Brain Imaging: MRI Brain Imaging, 3D Image Processing, Interventional Imaging, Catheter Navigation
    </p>
  </td>
</tr>
</table>
<table
style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

{% for post in site.posts %}
{% for cat in post.categories %}
{% if cat == 'BM' %}
{% if post.animate %}
{% assign animate_filename = post.animate | split: '/' | last %}
{% assign basename = animate_filename | split: '.' | first %}
{% if post.highlight %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()"  bgcolor="#ffffd0">
{% else %}
<tr onmouseout="window['{{basename}}_stop']()" onmouseover="window['{{basename}}_start']()">
{% endif %}
  <td style="padding:20px;width:25%;vertical-align:middle">
    <div class="one">
      <div class="two" id='{{basename}}_image'><video width=100% height=100% muted autoplay loop>
          <source src="{{post.animate}}" type="video/mp4">
          Your browser does not support the video tag.
        </video></div>
      <img src="{{post.image}}" width="280">
    </div>
    <script type="text/javascript">
      window['{{basename}}_start'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "1";
      }

      window['{{basename}}_stop'] = function () {
        document.getElementById('{{basename}}_image').style.opacity = "0";
      }
      window['{{basename}}_stop']();
    </script>
    <!-- <h3>{{basename}}_stop</h3> -->
  </td>
  {% else %}
<tr>
  <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
    <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
  </td>
  {% endif %}
  <td style="padding:2.5%;width:75%;vertical-align:middle">
    <!-- <h3>{{basename}}</h3> -->
    <h3>{{post.title}}</h3>
    <br>
    {{post.authors}}

    <br>
    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
    <br>
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> /
              {% endif %}
    {% if post.arxiv %}
    <a href="{{post.arxiv}}">arxiv</a> /
    {% endif %}
    {% if post.video %}
    <a href="{{post.video}}">video</a> /
    {% endif %}
    {% if post.code %}
    <a href="{{post.code}}">code</a> /
    {% endif %}
    {% if post.poster %}
    <a href="{{post.poster}}">poster</a> /
    {% endif %}
    {% if post.slides %}
    <a href="{{post.slides}}">slides</a> /
    {% endif %}
    {% if post.website %}
    <a href="{{post.website}}">website</a> /
    {% endif %}
    {% if post.youtube %}
    <a href="{{post.youtube}}">youtube</a> /
    {% endif %}
    {% if post.media %}
    <a href="{{post.media}}">media coverage</a> /
    {% endif %}
    <p></p>
    {{ post.excerpt }}
  </td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>
<br>
<br>
<br>


      </td>
    </tr>
  </table>
</body>

</html>